<a href="{{{anchorLocation}}}" class="url" oncontextmenu="IRC.openURLManagementContextualMenu()" {{#anchorInlineImageAvailable}} onclick="return IRC.toggleInlineImage('{{anchorInlineImageUniqueID}}')" {{/anchorInlineImageAvailable}} >{{{anchorTitle}}}</a>